body{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("C:/Users/Aicha/Desktop/Projects/Dasmoto's Arts & Crafts/resources/pattern.jpeg")
}

h2{
  font-size: 32px;
  color: white;
}

h1, h2, .price{
  font-weight: bold;
}

.mediumspringgreen{
  background-color: mediumspringgreen;
}

.lightcoral{
  background-color: lightcoral;
}

.skyblue{
  background-color: skyblue;
}
.price{
  color: blue;
}
